body{
    background-image: url(img/fondito.jpg) ;
    background-size: contain;
    margin: 0%;
}    
.titulo{
    background: linear-gradient(290deg,#ff3 0%, #ff3333 100%);
    max-width: 75%;
    min-width: 70%;
    margin: auto;
    margin-top: 0;
    box-shadow: 0 0 30px #fff ;
    padding: 10px 7px;
}
.texto1{
    text-align: center;
    font-family: tahoma;
    color: #000;
}
a{
    text-decoration: none;
}
.integrantes{
    background-color: #001 ;
    max-width: 45%;
    min-width: 40%;
    margin: auto;
    margin-top: 7%;
    padding: 10px 7px;
    box-shadow: 0 0 20px #ff3 ;
}
.propuestas{
    background-color: #001 ;
    max-width: 45%;
    min-width: 40%;
    margin: auto;
    margin-top: 7%;
    padding: 10px 7px;
    box-shadow: 0 0 20px #3f3 ;
}
.tarjeta{
    background: #00b7ff;
    background: linear-gradient(290deg,#00b7ff 0%, #ff3333 100%);
    max-width: 45%;
    min-width: 40%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 10px 7px;
    box-shadow: 0 0 20px #fff ;
}


subrrallado{
    color: #ffffff;
    text-decoration: underline;
}
.ide{
    background-color: #001 ;
    max-width: 45%;
    min-width: 40%;
    margin: auto;
    margin-top: 7%;
    padding: 10px 7px;
    box-shadow: 0 0 20px #fff ;
}

.sombreado{
    margin-top: 0px;
    margin-left: 0px;
    min-height: 1000px;
    background-color: #000000aa;
}
